* {
    margin: 0;
    padding: 0;
    line-height: 1.618em;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(99, 97, 97);
    background-image: url(./images/BackgroundGIF.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.headerStyle {
    background-color: rgba(0, 139, 139, 0.712);
    margin: auto auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    background-color: rgba(255, 254, 254, 0.678);
}

.projectImages {
    height: 10vh;
    width: 10vw;
    border-radius: 10px;
}